<%- include('partials/header') %>

	  <div class="container">
		  <div class="row">
			  <img src="/images/header.png" alt="Naadu Nedu" style="width: 100%">
		  </div>
	  </div>

	<div class="container-fluid mt-2" style="padding: 0% 5%">
		
		
		<form id="naduneduForm">
			<h6 class="bg-info text-center text-white p-2">Nadu Nedu Details - West Godavari</h6>
			<div id="message"></div>
		
		<div class="row">
			<div class="col-lg-6 col-md-6">
			    <div class="form-group">
					<label>Mandal</label>
					<select id="mandal" name="mandal" class="form-control" required>
						<option value="">Select Mandal</option>
					</select>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
			    <div class="form-group">
					<label>School</label>
					<select id="school" name="school" class="form-control" required>
						<option value="">Select School</option>
					</select>
					<div class="d-flex">
						<small class="d-inline text-danger">Tagged Engineering Asst. : </small>
						<input type="text" id="tagged" value="ramesh" disabled style="width: 400px; margin-left: 50px">
					</div>	
				</div>
			</div>
		</div>
		 
		 <!-- Funds  -->
		<h6 class="bg-info text-center text-white p-2">Funds in Lakhs</h6>
		<div class="row">
			<div class="col-lg-3 col-md-3">
			    <div class="form-group">
					<label>Estimated</label>
					<input type="Number" min="0" id="funds_estimated" name="funds_estimated" class="form-control" placeholder="Number Only" required>
				</div>
			</div>
			<div class="col-lg-3 col-md-3">
			    <div class="form-group">
					<label>Received 7.5% revolving fund</label>
					<input type="Number" min="0" id="funds_receivedone" name="funds_receivedOne" class="form-control" placeholder="Number Only">
				</div>
			</div>
			<div class="col-lg-3 col-md-3">
			    <div class="form-group">
					<label>Received 15% revolving fund</label>
					<input type="Number" min="0" id="funds_receivedtwo" name="funds_receivedTwo" class="form-control" placeholder="Number Only">
				</div>
			</div>
			<div class="col-lg-3 col-md-3">
			    <div class="form-group">
					<label>Funds Expenditure</label>
					<input type="Number" min="0" id="funds_expenditure" name="funds_expenditure" class="form-control" placeholder="Number Only" required>
				</div>
			</div>
		</div>
		 <!-- Components Cement, sand etc-->
		 
		<div class="row">
			
			<div class="col-lg-2 pb-3">
				 <p class="text-center bankHeading">Cement Details (in Bags)</p>
				 <table>
					<tbody>
						<tr>
							<td class="heading">Cement Company</td>
							<td><select id="cement_company" name="cement_company" class="form-control" required>
									<option value="">Select</option>
									<option value="PARASAKTI">PARASAKTI</option>
									<option value="KCP">KCP</option>
									<option value="MAHA CEMENT">MAHA CEMENT</option>
									<option value="BHAVYA">BHAVYA</option>
									<option value="ULTRA TECH">ULTRA TECH</option>
									<option value="PENNA">PENNA</option>
									<option value="INDIA CEMENT">INDIA CEMENT</option>
									<option value="ZUARI">ZUARI</option>

								</select>
							</td>
						</tr>
						<tr>
							<td class="heading">Cement Required</td>
							<td><input type="Number" min="0" id="cement_required" name="cement_req" placeholder="No.of Bags" required></td>
						</tr>
						<tr>
							<td class="heading">Cement Indent Placed</td>
							<td><input type="Number" min="0" id="cement_indent_placed" name="cement_indent_placed" placeholder="No.of Bags" required></td>
						</tr>
						<tr>
							<td class="heading">Cement Received</td>
							<td><input type="Number" min="0" id="cement_received" name="cement_rec" placeholder="No.of Bags" required></td>
						</tr>

					</tbody>
                </table>
			</div>
			 <div class="col-lg-2 pb-3">
				 <p class="text-center bankHeading">Sand (In Metric Tones)</p>
				 <table>
					<tbody>
						
						<tr>
							<td class="heading">Sand Required</td>
							<td><input type="Number" min="0" id="sand_required" name="sand_req" placeholder="in MTs" required></td>
						</tr>
						<tr>
							<td class="heading">Sand Indent Placed</td>
							<td><input type="Number" min="0" id="sand_indent_placed" name="sand_upload" placeholder="in MTs" required></td>
						</tr>
						<tr>
							<td class="heading">Sand Received</td>
							<td><input type="Number" min="0" id="sand_received" name="sand_rec" placeholder="in MTs" required></td>
						</tr>

					</tbody>
                </table>
			</div>
			 <div class="col-lg-2 pb-3">
				 <p class="text-center bankHeading">Metals (In Units)</p>
				 <table>
					<tbody>
						
						<tr>
							<td class="heading">Metal Required</td>
							<td><input type="Number" min="0" id="metal_required" name="metal_req" placeholder="In Units" required></td>
						</tr>
						<tr>
							<td class="heading">Metal Received</td>
							<td><input type="Number" min="0" id="metal_received" name="metal_rec" placeholder="In Units" required></td>
						</tr>

					</tbody>
                </table>
			</div>
			 <div class="col-lg-2 pb-3">
				 <p class="text-center bankHeading">Steel (In Metric Tones)</p>
				 <table>
					<tbody>
						
						<tr>
							<td class="heading">Steel Required</td>
							<td><input type="Number" min="0" id="steel_required" name="steel_req" placeholder="Metric Tones" required></td>
						</tr>
						<tr>
							<td class="heading">Steel Received</td>
							<td><input type="Number" min="0" id="steel_received" naid="steel_req" placeholder="Metric Tones" me="steel_rec" required></td>
						</tr>

					</tbody>
                </table>
			</div>
			 <div class="col-lg-4 pb-3">
				 <p class="text-center bankHeading">Bricks Details</p>
				 <table>
					<tbody>
						
						<tr>
							<td class="heading">Cement Bricks Required</td>
							<td><input type="Number" min="0" id="cement_bricks_required" name="cement_bricks_req" placeholder="If required, give value"></td>
						</tr>
						<tr>
							<td class="heading">Cement Bricks Received</td>
							<td><input type="Number" min="0" id="cement_bricks_received" name="cement_bricks_rec" placeholder="Give value"></td>
						</tr>
						<tr>
							<td class="heading">Country Bricks Required</td>
							<td><input type="Number" min="0" id="country_bricks_required" name="cley_bricks_req" placeholder="If required, give value"></td>
						</tr>
						<tr>
							<td class="heading">Country Bricks Received</td>
							<td><input type="Number" min="0" id="country_bricks_received" name="cley_bricks_rec" placeholder="Give value"></td>
						</tr>

					</tbody>
                </table>
			</div>
		</div>
			
	</div>	
	<div class="container">
		
		  
	  <h6 class="bg-info text-center text-white p-2">Centralised Procurements</h6>
	  
		<div class="row justify-content-center self-items-center align-items-center" style="border: 1px solid lightgrey; padding: 5px">
			<div class="col-lg-3">
				<div class="form-group">
					<label class="btn btn-success">Wash Basins</label>
					
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label >Requirement</label>
					<input type="Number" min="0" id="wb_required" name="wb_required" class="form-control" placeholder="Number only" required>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Uploaded in the App</label>
					<select name="wb_upload" id="wb_upload" class="form-control" required>
						<option value="">Select</option>
						<option value="YES">YES</option>
						<option value="NO">NO</option>
					</select>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Received</label>
					<select name="wb_rec" id="wb_received" class="form-control" required>
						<option value="">Select</option>
						<option value="YES">YES</option>
						<option value="NO">NO</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row justify-content-center self-items-center align-items-center" style="border: 1px solid lightgrey; padding: 5px">
			<div class="col-lg-3">
				<div class="form-group">
					<label class="btn btn-success">Urinals for Boys</label>
					
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label >Requirement</label>
					<input type="Number" min="0" id="urinals_required" name="wb_req" class="form-control" placeholder="Number only" required>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Uploaded in the App</label>
					<select name="wb_upload" id="urinals_upload" class="form-control" required>
						<option value="">Select</option>
						<option value="YES">YES</option>
						<option value="NO">NO</option>
					</select>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Received</label>
					<select name="wb_rec" id="urinals_received" class="form-control" required>
						<option value="">Select</option>
						<option value="YES">YES</option>
						<option value="NO">NO</option>
					</select>
				</div>
			</div>
		</div>	
		<div class="row justify-content-center self-items-center align-items-center" style="border: 1px solid lightgrey; padding: 5px">
			<div class="col-lg-3">
				<div class="form-group">
					<label class="btn btn-success">Westren Commodes</label>
					
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label >Requirement</label>
					<input type="Number" min="0" id="wc_required" name="wb_req" class="form-control" placeholder="Number only" required>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Uploaded in the App</label>
					<select name="wc_upload" id="wc_upload" class="form-control" required>
						<option value="">Select</option>
						<option value="YES">YES</option>
						<option value="NO">NO</option>
					</select>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Received</label>
					<select name="wc_rec" id="wc_received" class="form-control" required>
						<option value="">Select</option>
						<option value="YES">YES</option>
						<option value="NO">NO</option>
					</select>
				</div>
			</div>
		</div>	
		<div class="row justify-content-center self-items-center align-items-center" style="border: 1px solid lightgrey; padding: 5px">
			<div class="col-lg-3">
				<div class="form-group">
					<label class="btn btn-success">Fans</label>
					
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label >Requirement</label>
					<input type="Number" min="0" id="fans_required" name="wb_req" class="form-control" placeholder="Number only" required>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Uploaded in the App</label>
					<select name="fans_upload" id="fans_upload" class="form-control" required>
						<option value="">Select</option>
						<option value="YES">YES</option>
						<option value="NO">NO</option>
					</select>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Received</label>
					<select name="fans_rec" id="fans_received" class="form-control" required>
						<option value="">Select</option>
						<option value="YES">YES</option>
						<option value="NO">NO</option>
					</select>
				</div>
			</div>
		</div>	
		<div class="row justify-content-center self-items-center align-items-center" style="border: 1px solid lightgrey; padding: 5px">
			<div class="col-lg-3">
				<div class="form-group">
					<label class="btn btn-success">Duel desks Classes 1-3</label>
					
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group pb-3">
					<label >Requirement</label>
					<input type="Number" min="0" id="db_class_1_3_required" name="wb_req" class="form-control" placeholder="Number only">
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Uploaded in the App</label>
					<select name="wb_upload" id="db_class_1_3_upload" class="form-control">
						<option value="">Select</option>
						<option value="YES">YES</option>
						<option value="NO">NO</option>
					</select>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Received</label>
					<select name="wb_rec" id="db_class_1_3_received" class="form-control">
						<option value="">Select</option>
						<option value="YES">YES</option>
						<option value="NO">NO</option>
					</select>
				</div>
			</div>
		</div>	
		<div class="row justify-content-center self-items-center align-items-center" style="border: 1px solid lightgrey; padding: 5px">
			<div class="col-lg-3">
				<div class="form-group">
					<label class="btn btn-success">Duel desks Classes 4-7</label>
					
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label >Requirement</label>
					<input type="Number" min="0" id="db_class_4_7_required" name="wb_req" class="form-control" placeholder="Number only">
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Uploaded in the App</label>
					<select name="wb_upload" id="db_class_4_7_upload" class="form-control">
						<option value="">Select</option>
						<option value="YES">YES</option>
						<option value="NO">NO</option>
					</select>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Received</label>
					<select name="wb_rec" id="db_class_4_7_received" class="form-control">
						<option value="">Select</option>
						<option value="YES">YES</option>
						<option value="NO">NO</option>
					</select>
				</div>
			</div>
		</div>	
		<div class="row justify-content-center self-items-center align-items-center" style="border: 1px solid lightgrey; padding: 5px">
			<div class="col-lg-3">
				<div class="form-group">
					<label class="btn btn-success">Duel desks Classes 8-10</label>
					
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label >Requirement</label>
					<input type="Number" min="0" id="db_class_8_10_required" name="wb_req" class="form-control" placeholder="Number only">
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Uploaded in the App</label>
					<select name="wb_upload" id="db_class_8_10_upload" class="form-control">
						<option value="">Select</option>
						<option value="YES">YES</option>
						<option value="NO">NO</option>
					</select>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Received</label>
					<select name="wb_rec" id="db_class_8_10_received" class="form-control">
						<option value="">Select</option>
						<option value="YES">YES</option>
						<option value="NO">NO</option>
					</select>
				</div>
			</div>
		</div>	
		<div class="row justify-content-center self-items-center align-items-center" style="border: 1px solid lightgrey; padding: 5px">
			<div class="col-lg-3">
				<div class="form-group">
					<label class="btn btn-success">Teachers' Tables</label>
					
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label >Requirement</label>
					<input type="Number" min="0" id="tables_required" name="wb_req" class="form-control" placeholder="Number only" required>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Uploaded in the App</label>
					<select name="wb_upload" id="tables_upload" class="form-control" required>
						<option value="">Select</option>
						<option value="YES">YES</option>
						<option value="NO">NO</option>
					</select>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Received</label>
					<select name="wb_rec" id="tables_received" class="form-control" required>
						<option value="">Select</option>
						<option value="YES">YES</option>
						<option value="NO">NO</option>
					</select>
				</div>
			</div>
		</div>	
		<div class="row justify-content-center self-items-center align-items-center" style="border: 1px solid lightgrey; padding: 5px">
			<div class="col-lg-3">
				<div class="form-group">
					<label class="btn btn-success">Teachers' Chairs</label>
					
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label >Requirement</label>
					<input type="Number" min="0" id="chairs_required" name="chairs_req" class="form-control" placeholder="Number only" required>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Uploaded in the App</label>
					<select name="wb_upload" id="chairs_upload" class="form-control" required>
						<option value="">Select</option>
						<option value="YES">YES</option>
						<option value="NO">NO</option>
					</select>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Received</label>
					<select name="wb_rec" id="chairs_received" class="form-control" required>
						<option value="">Select</option>
						<option value="YES">YES</option>
						<option value="NO">NO</option>
					</select>
				</div>
			</div>
		</div>	
		<div class="row justify-content-center self-items-center align-items-center" style="border: 1px solid lightgrey; padding: 5px">
			<div class="col-lg-3">
				<div class="form-group">
					<label class="btn btn-success">Almirah</label>
					
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label >Requirement</label>
					<input type="Number" min="0" id="almirah_required" name="wb_req" class="form-control" placeholder="Number only" required>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Uploaded in the App</label>
					<select name="wb_upload" id="almirah_upload" class="form-control" required>
						<option value="">Select</option>
						<option value="YES">YES</option>
						<option value="NO">NO</option>
					</select>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Received</label>
					<select name="wb_rec" id="almirah_received" class="form-control" required>
						<option value="">Select</option>
						<option value="YES">YES</option>
						<option value="NO">NO</option>
					</select>
				</div>
			</div>
		</div>	
		<div class="row justify-content-center self-items-center align-items-center" style="border: 1px solid lightgrey; padding: 5px">
			<div class="col-lg-3">
				<div class="form-group">
					<label class="btn btn-success">Green Chalk Boards</label>
					
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label >Requirement</label>
					<input type="Number" min="0" id="green_chalk_board_required" name="wb_req" class="form-control" placeholder="Number only" required>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Uploaded in the App</label>
					<select name="wb_upload" id="green_chalk_board_upload" class="form-control" required>
						<option value="">Select</option>
						<option value="YES">YES</option>
						<option value="NO">NO</option>
					</select>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Received</label>
					<select name="wb_rec" id="green_chalk_board_received" class="form-control" required>
						<option value="">Select</option>
						<option value="YES">YES</option>
						<option value="NO">NO</option>
					</select>
				</div>
			</div>
		</div>	
		<div class="row justify-content-center self-items-center align-items-center" style="border: 1px solid lightgrey; padding: 5px">
			<div class="col-lg-3">
				<div class="form-group">
					<label class="btn btn-success">English Lab</label>
					
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label >Requirement</label>
					<input type="Number" min="0" id="englab_required" name="wb_req" class="form-control" placeholder="Number only" required>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Uploaded in the App</label>
					<select name="wb_upload" id="englab_upload" class="form-control" required>
						<option value="">Select</option>
						<option value="YES">YES</option>
						<option value="NO">NO</option>
					</select>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Received</label>
					<select name="wb_rec" id="englab_received" class="form-control" required>
						<option value="">Select</option>
						<option value="YES">YES</option>
						<option value="NO">NO</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row justify-content-center self-items-center align-items-center" style="border: 1px solid lightgrey; padding: 5px">
			<div class="col-lg-12">
				
				<div class="form-group">
					
					<input type="submit" id="naduneduBtn" class="btn btn-success btn-block" value="Submit">
				</div>
			</div>
		</div>
	</form>	
	
	</div>
<%- include('partials/footer') %>		
	  

